<h5>Download</h5>
<ul>
  <li>
    <strong>Bower</strong>
    <p>bower install --save ngMeta</p>
  </li>
  <li>
    <strong>npm</strong>
    <p>npm install --save ng-meta</p>
  </li>
  <li>
    <strong>JS download (unminified)</strong>
    <p><a href="https://raw.githubusercontent.com/vinaygopinath/ngMeta/master/dist/ngMeta.js" download>GitHub</a></p>
  </li>
  <li>
    <strong>JS download (minified)</strong>
    <p><a href="https://raw.githubusercontent.com/vinaygopinath/ngMeta/master/dist/ngMeta.min.js" download>GitHub</a></p>
  </li>
</ul>
