<h5>Download</h5>
<ul>
  <li>
    <strong>Bower</strong>
    <p>bower install --save ngMeta</p>
  </li>
  <li>
    <strong>npm</strong>
    <p>npm install --save ng-meta</p>
  </li>
  <li>
    <strong>CDN</strong>
    <p>https://cdnjs.cloudflare.com/ajax/libs/ng-meta/1.0.0/ngMeta.min.js</p>
  </li>
</ul>

<h6>JS files (Experimental)</h6>
<p>The following files <i>may</i> contain experimental changes that are not yet released/ready for release. Proceed with caution</p> 
<ul>
  <li>
    <strong>Unminified JS</strong>
    <p>https://raw.githubusercontent.com/vinaygopinath/ngMeta/master/dist/ngMeta.js</p>
  </li>
  <li>
    <strong>Minified JS</strong>
    <p>https://raw.githubusercontent.com/vinaygopinath/ngMeta/master/dist/ngMeta.min.js</p>
  </li>
</ul>
